mixin product__item(list)
    .product__inner-item.item__post
                        a.item__post-picture(href="#"  style= list.bg)
                        .item__post__info.post__info
                            .post__info__name
                                a.post__info__name-title(href="#")= list.name
                                a.post__info__name-category(href="#")= list.subtitle
                            .post__info__price= list.price
                        .item__post__about.post__about
                            .post__about__author.post__author
                                a.post__author-avatar(href="#" style= list.avatar)
                                a.post__author-nik(href="#")= list.nik
                            .post__about__raiting
                                a.raiting-star(href='#')
                                span (
                                span.raiting-number= list.rating_number
                                span )

